<section>
  <div class="container d-flex">
    <div class="col-2"></div>

    <div class="create-new-blog col-10">
      <h2>Create New Post</h2>

      <form id="new-post-form">

        <div class="post-title">
          <h3>Title</h3>
          <input class="form-control col-8 rounded-0" id="post-title" type="text" name="post-title">
          {{!-- <input type="text" id="post-title" name="post-title" /> --}}
        </div>
        <div class="form-group">
          <h3>Blog</h3>
          {{!-- <label for="textarea">Blog</label> --}}
          <textarea class="blog_content col-12" id="blog_content" rows="6" name="blog_content"></textarea>
        </div>
        <button type="submit" class="btn btn-success rounded-0" id="post-title">Create</button>

      </form>
    </div>
  </div>
</section>
<script src="/javascript/add-post.js"></script>
{{!-- <script src="/javascript/script.js"></script> --}}



{{#if posts.length}}
<article class="post d-flex">
  <div class="col-2"></div>
    
    <div class="title">
      <div>
        <div class="card-body">
          <h5 class="card-title">{{title}}</h5>

          <ol class="list-number">
            {{#each posts as | post|}}
            <li>
              {{> post-info post}}

            </li>
            {{/each}}
          </ol>

        </div>
      </div>
    </div>
  </div>
</article>
{{/if}}