<article>
    <div class="container d-flex">

        {{!-- <div class="col-2"></div> --}}
        <div class="edit-post col-10">
            <h2>
                Edit Post
            </h2>
            <form class="edit-post-form">
                <div>
                    <input name="post-title" class="form-control col-8 border border-success rounded-0" type="text"
                        value="{{post.title}}" />

                </div>
                <div class="blog-edit-form">
                    <textarea name="blog-edit"
                        class="form-control col border border-success rounded-0">{{post.blog_content}}</textarea>

                </div>
                {{!-- <div>
                    {{post.blog_content}}
                </div> --}}





                <button type="submit" class="btn btn-success rounded-0" id="post-save">Update</button>
                {{!-- <button type="button" class="delete-post-btn">Delete post</button> --}}
                <button type="submit" class="btn btn-success rounded-0 delete-post-btn" id="post-title">Delete
                    Post</button>
            </form>
        </div>
    </div>
</article>
{{#if loggedIn}}
<form class="comment-form">
    <div>
        {{!-- <textarea name="comment-body"></textarea> --}}
        <textarea name="comment-body" class="comment-body col-12"></textarea>
    </div>

    <div>

        <button type="submit" class="btn btn-success rounded-0">Add Comment</button>

    </div>
</form>
{{/if}}
{{> comments post.comments}}
{{#if loggedIn}}
<script src="/javascript/comment.js"></script>

{{/if}}
<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>

<script src="/javascript/script.js"></script>