{{#if loggedIn}}
<article class="comments">
    <div class="col"></div>
    <form class="comment-form">
        <div class="form-group">
            <h4>Comment Section</h4>
            <textarea class="blog_content col-8" id="blog_content" rows="6" name="comment-body"></textarea>
        </div>
        <div>
            <button type="submit" class="btn btn-success rounded-0" id="comment-button">Add Comment</button>
        </div>
    </form>
</article>
{{/if}}


{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>

{{/if}}
{{!-- <script src="javascript/script.js"></script> --}}